<h1 class="mb-4"><strong>Stupid coaching</strong></h1>

<p class="mb-2">Ask your coach anything</p>



<form action="/answer" class="form-inline">
  <div class="form-group">
    <input id="ok" type="text" name="question" placeholder="Message to coach" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Ask!" class="form-control btn btn-primary">
  </div>
</form>
