// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  margin: 40px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: rgb(70, 70, 196);
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.box {
  width: 400px;
  display: flex;
  margin-bottom: 20px;
}

.response {
  background: rgb(255, 255, 199);
}

.indent {
  width: 10px;
  background-color: rgb(185, 185, 185);
}

.aligned {
  align-items: center;
  padding: 16px;
}

p {
  margin: 0px;
}
